<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<font size="13" color="#0000FF"> Student Application Form </font>
<body background="https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80" >
<marquee scrollamount="15"><pre class="tab"><b><i><Font size="8" color="#008000">This is Hindu College Student Application Form</font></i></b></pre></marquee>
<font color="#FF00FF">

<form>
    <table>
        <tr>
            <td> Student Fname:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Student Lname:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Mname:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>College Id</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Student id:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>St Email</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>phn No:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="text"></td>

        </tr>
        <tr>
            <td>Adhar No:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>PAN No:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>mother's Name:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Father's Name:</td>
            <td><input type="text"></td>

        </tr>
        <tr>
            <td>10th marks:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>inter marks:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Degree marks:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>counciling date:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="Submit"></td>
        </tr>
    </table>
</form>
</font>
</body>
</html>