<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2>Registration Form</h2>
<body>

<form>
    <table>
    <tr>
        <td>Fname:</td>
        <td><input type="text"></td>

    </tr>
    <tr>
        <td>Lname:</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Mname:</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Mobile No:</td>
         <td><input type="text"></td>
    </tr>
    <tr>
        <td>password:</td>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td><input type="submit"></td>
    </tr>
    </table>

</form>
</body>
</html>